<?xml version="1.0" encoding="utf-8"?>

<launch>
  
  <arg name="respawn_value" default="false" /> <!-- boolean: true, false -->
  
  <!-- Bag file path -->  
  <arg name="bag_file" value="$(env HOME)/depthlc_data/DSO_kitti_mimic.bag"/>
  <rosparam param="LaserMapper/bag_file" subst_value="True">$(arg bag_file)</rosparam>

  <!-- ROS parameters -->
  <rosparam>use_sim_time: true</rosparam>

  <rosparam command="load" file="$(find vSegmapper)/launch/kitti/visual_loop_closure.yaml"/>
  
  <!-- rosbag player node -->
  <node name="player" pkg="rosbag" type="play" output="screen" args=" -r 1 -s 0 --clock --pause $(arg bag_file)"/>

    <!-- segmapper node -->
  <include file="$(find vSegmapper)/launch/segmapper.launch">
    <arg name="icp_configuration_file" value="$(find vSegmapper)/launch/kitti/icp_dynamic_outdoor.yaml"/>
    <arg name="icp_input_filters_file" value="$(find vSegmapper)/launch/kitti/input_filters_outdoor.yaml"/>
  </include>
	
</launch>
