<?xml version="1.0" encoding="utf-8"?>	
	
<launch>
  <!-- ICP configuration file -->
  <arg name="icp_configuration_file" default="$(find vSegmapper)/launch/kitti/icp_dynamic_outdoor.yaml"/>
  
  <!-- Input filters file -->
  <arg name="icp_input_filters_file" default="$(find vSegmapper)/launch/kitti/input_filters_outdoor.yaml"/>
  
  <!-- log file -->
  <arg name="node_res_log" default="$(find vSegmapper)/logs/lc_result_log.txt"/>
  
  <!-- Enable callgrind profiling -->
  <arg name="enable_callgrind" default="false"/>
  <arg name="callgrind_ouput_path" value="/tmp/segmatch-callgrind.out"/>
  <arg name="launch_prefix" value="valgrind --tool=callgrind --callgrind-out-file=$(arg callgrind_ouput_path) --instr-atstart=no" if="$(arg enable_callgrind)"/> 
  <arg name="launch_prefix" value="" unless="$(arg enable_callgrind)"/>

  <!-- segmapper node -->
  <node name="vSegmapper" pkg="vSegmapper" type="vSegmapper_node" output="log" respawn="false" launch-prefix="$(arg launch_prefix)">
    <param name="icp_configuration_file" value="$(arg icp_configuration_file)"/>
    <param name="icp_input_filters_file" value="$(arg icp_input_filters_file)"/>
  </node>

</launch>